<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">

  <title>Главная страница</title>
  {% load staticfiles %} 
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'js/app.js' %}"></script> 
 

</head>

<body>
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" onclick="tb_display('r_worker')">
            Сотрудники
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" aria-current="page" onclick="tb_display('r_human')">
            Физ. лица
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="tb_display('r_vacancy')">
            Должности
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="tb_display('r_category')">
          Категория
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="btn-group btn-group-toggle" data-toggle="buttons" id='radio_1'>
  <label for="f_workers" class="btn btn-secondary active">
    <input type="radio" name="form_view" value="f_workers" id="f_workers" onchange="form_display('form_worker')">
    Добавть сотрудника
  </label>

  <label for="f_human" class="btn btn-secondary">
    <input type="radio" name="form_view" value="f_human" id="f_human" onchange="form_display('form_human')">   
    Добавить физ. лицо
  </label>

  <label for="f_vacancy" class="btn btn-secondary">
    <input type="radio" name="form_view" value="f_vacancy" id="f_vacancy" onchange="form_display('form_vac')">
    Добавить должность
  </label>
  
  <label for="f_category" class="btn btn-secondary">
    <input type="radio" name="form_view" value="f_category" id="f_category" onchange="form_display('form_cat')">   
    Добавить категорию
  </label>

</div>


  <div class="add_cat" id='add_cat'>
    
    <form action="javascript:send_json_to_server('form_category')" id='form_category' method="post">
      <button class="close_btn" type="button" onclick="close_form('add_category')">X</button>
      <div class="mb-3">
      {% csrf_token %}
      {% for tag in form_cat %}
        <p>{{ tag.label_tag}} </p>
        <p>{{ tag }} </p>
      {% endfor%}
      <button type="submit" class="btn btn-primary" name="button-cat" access="false" style="success" id="button-cat">Добавить категорию</button>
      </div>
    </form>
  </div>

  <div class="add_human" id='add_human'>
    
    <form  id='form_human' action="javascript:send_json_to_server('form_human')"  method="post">
      <button class="close_btn" type="button" onclick="close_form('add_human')">X</button>
      <div class="mb-3">
      {% csrf_token %}
      <p><label for="id_vacancy">Должность:</label></p>
      <select name='id_vacancy' class="form-select">
        {% for vac in all_vacancy %}
          <option value='{{ vac.id }}'>{{ vac.name_vacancy }}</option>
        {% endfor%}
      </select> 
      {% for human in form_human %}
        <p>{{ human.label_tag }}</p>
        <p>{{ human }} </p>
      {% endfor%}
      <button type="submit" class="btn btn-primary" name="button-human" access="false" style="success" id="button-human">Добавить Физ. лицо</button>
      </div>
    </form>
  </div>
  
  <div class="add_vac" id='add_vac'>
    <form action="javascript:send_json_to_server('form_vac')" method="post" id="form_vac" name="form_vac">
      <button class="close_btn" type="button" onclick="close_form('add_vac')">X</button>
      <div class="mb-3"> 
        {% csrf_token %}
        <p><label for="id_category">Категория:</label></p>
        <select name='id_category' class="form-select">
          {% for cat in tb_category %} 
          <option value='{{ cat.id }}' >{{ cat.name_category }}</option>
          {% endfor%}
        </select>
        <p><label for="name_add_vacancy">Новая должность:</label></p>
        <input type="text" name="name_add_vacancy" class="form-control" maxlength="200" required id="name_add_vacancy" />
        <br>
        <button type="submit" class="btn btn-primary" name="button-vac_all" access="false" style="success" id="button-vac_all">Добавить должность</button>
    </div>
    </form>
  </div>
  

  <div class='add_worker' id='add_worker'>
    <form action="javascript:send_json_to_server('form_worker')" method="post" id="form_worker" name="form_worker">
      <button class="close_btn" type="button" onclick="close_form('add_worker')">X</button>
      <div class="mb-3">

        {% csrf_token %}
        <p><label for="id_vacancy">Должность:</label></p>
        <select name='id_vacancy' class="form-select">
          {% for vac in tb_vacancy %} 
          <option value='{{ vac.id }}' >{{ vac.name_vacancy }}</option>
          {% endfor%}
        </select>

        <p><label for="id_human">Физ. лицо</label></p>
        <select name='id_human' class="form-select">
          {% for human in tb_human %} 
          <option value='{{ human.id }}' >{{ human.fio }}</option>
          {% endfor%}
        </select>


        <button type="submit" class="btn btn-primary" name="button-cat" access="false" style="success" id="button-cat">Добавить сотрудника</button>
      </div>
    </form>
  </div>







  <div class="edit_cat" id='edit_cat'>
    
    <form action="javascript:update('edit_cat')" id='edit_form_category' method="post">
      <button class="close_btn" type="button" onclick="">X</button>
      <div class="mb-3">
      {% csrf_token %}
      <input type="hidden" id="cat_id_db_row" value="">
      {% comment %} cat_id_db_row Переменная для сохранения category.id из БД {% endcomment %}
      <p><label for="name_edit_category">Изменить название категории </label></p>
      <input type="text" name="name_edit_category" class="form-control" maxlength="200" id="name_edit_category" />     
      
      <button type="submit" class="btn btn-primary" access="false" style="success" id="button-cat">Изменить категорию</button>
      </div>
    </form>
  </div>


  <div class="edit_vac" id='edit_vac'>
    
    <form action="javascript:update('edit_vac')" id='edit_form_vacancy' method="post">
      <button class="close_btn" type="button" onclick="">X</button>
      <div class="mb-3">
      {% csrf_token %}
      <input type="hidden" id="vac_id_db_row" value=""> 
      {% comment %} vac_id_db_row- Переменная для сохранения должности vacancy.id из БД {% endcomment %}
      <p><label for="id_edit_category">Изменить категорию должности</label></p>
      <select name='id_edit_category' id='select_edit_category' class="form-select">
        {% for cat in tb_category %} 
        <option value='{{ cat.id }}'>{{ cat.name_category }}</option>
        {% endfor%}
      </select>
      <p><label for="name_edit_vacancy">Изменить название должности </label></p>
      <input type="text" name="name_edit_vacancy" class="form-control" maxlength="200" id="name_edit_vacancy" />     
      <button type="submit" class="btn btn-primary" access="false" style="success" id="button-vac">Изменить должность</button>
      </div>
    </form>
  </div>

  <div class="edit_human" id='edit_human'>
    
    <form id='edit_form_human' action="javascript:update('edit_human')" method="post">
      <button class="close_btn" type="button" onclick="">X</button>
      <div class="mb-3">
      {% csrf_token %}
      <input type="hidden" id="human_id_db_row" value=""> 
      {% comment %} vac_id_db_row- Переменная для сохранения физ лица human.id из БД {% endcomment %}

      {% for human in form_human %}
      <p>{{ human.label_tag }}</p>
      <p>{{ human }} </p>
      {% endfor%}
      
      <button type="submit" class="btn btn-primary" access="false" style="success" id="button-human">Изменить физ. лицо</button>
      </div>
    </form>
  </div>


  <div class="edit_worker" id='edit_worker'>
    
    <form id='edit_form_worker' action="javascript:update('edit_worker')" method="post">
      <button class="close_btn" type="button" onclick="">X</button>
      <div class="mb-3">
      {% csrf_token %}
      <input type="hidden" id="worker_id_db_row" value=""> 
      {% comment %} vac_id_db_row- Переменная для сохранения сотрудника worker.id из БД {% endcomment %}

      <p><label for="id_vacancy">Должность:</label></p>
      <select name='id_vacancy' class="form-select">
        {% for vac in tb_vacancy %} 
        <option value='{{ vac.id }}'>{{ vac.name_vacancy }}</option>
        {% endfor%}
      </select>

      <p><label for="id_human">Физ. лицо</label></p>
      <select name='id_human' class="form-select">
        {% for human in tb_human %} 
        <option value='{{ human.id }}' >{{ human.fio }}</option>
        {% endfor%}
      </select>
      
      <button type="submit" class="btn btn-primary" access="false" style="success" id="button-worker">Изменить сотрудника</button>
      </div>
    </form>
  </div>








<br>


  <div class="table_human">
    <table class="table" id="table_human">
      <thead>
      <tr>
          <th class="header" scope="col">ФИО</th>
          <th class="header" scope="col">Пол</th>
          <th class="header" scope="col">Дата рождения</th>
          <th class="header" scope="col">Изменить</th>
          <th class="header" scope="col">Удалить</th>
      </tr>
    </thead>

    {% for human in tb_human %}
      <tr class="table-primary" id="tb_human_{{human.id}}"> 
        {% csrf_token %}
          <td><span>{{ human.fio }}</span></td>
          <td><span>{{ human.gen }}</span></td>
          <td><span>{{ human.age }}</span></td>

          <td>
            <button type="button" name="btn-edit" id="edit_{{human.id}}" onclick='edit("human","tb_human_{{human.id}}",{{human.id}})' class="btn btn-success">
            Изменить</button>
          </td>
          <td>
            <button type="button" name="btn-del" id="del_{{human.id}}" onclick="del_row({{human.id}}, 'tb_human_', 'del_human')" class="btn btn-danger">
            Удалить</button>
          </td> 
        </span>    
      </tr>
      {% endfor %}

    </table>
  </div>

  <div class="table_worker">
    <table class="table table-striped" id="table_worker" >
      <thead >
      <tr>
          <th>Номер</th>
          <th>ФИО</th>
          <th>Пол</th>
          <th>Возраст</th>
          <th>Должность</th>
          <th>Категория</th>
      </tr>
    </thead>

    {% for worker in tb_workers %}
      <tr class="table-primary" id="tb_workers_{{worker.id}}"> 
        {% csrf_token %}
          <td id='{{ worker.id }}'><span>{{ worker.id }}</span></td>
          <td><span>{{ worker.fio }}</span></td>
          <td>{{ worker.age }}</td>
          <td>{{ worker.gen }}</td>
          <td><span>{{ worker.vac }}</span></td>
          <td><span>{{ worker.cat }}</span></td>
          <td>
            <button type="button" name="btn-edit" id="edit_{{worker.id}}" onclick='edit("worker","tb_workers_{{worker.id}}",{{ worker.id }})' class="btn btn-success">
            Изменить</button>
          </td>
          <td>
            <button type="button" name="btn-del" id="del_{{worker.id}}" onclick="del_row({{worker.id}}, 'tb_workers_', 'del_worker')" class="btn btn-danger" >
            Удалить</button>
          </td> 
        </span>    
      </tr>

      {% endfor %}

    </table>
  </div>

  <div class="table_vacancy">
    <table class="table table-striped" id="table_vacancy" >
      <thead >
      <tr>
          <th>Номер</th>
          <th>Должность</th>
          <th>Категория</th>
          <th>Изменить</th>
          <th>Удалить</th>
      </tr>
    </thead>

    {% for vacancy in tb_vacancy %}
      <tr class="table-primary" id="tb_vac_{{vacancy.id}}"> 
        {% csrf_token %}
          <td id='{{ vacancy.id }}'><span>{{ vacancy.id }}</span></td>
          <td><span>{{ vacancy.name_vacancy }}</span></td>
          <td><span>{{ vacancy.category_vacancy }}</span></td>
          <td>
            <button type="button" name="btn-edit" id="edit_{{vacancy.id}}" onclick='edit("vacancy","tb_vac_{{vacancy.id}}",{{vacancy.id}})' class="btn btn-success">
            Изменить</button>
          </td>
          <td>
            <button type="button" name="btn-del" id="del_{{vacancy.id}}" onclick="del_row({{vacancy.id}}, 'tb_vac_', 'del_vac')" class="btn btn-danger" >
            Удалить</button>
          </td> 
        </span>    
      </tr>

      {% endfor %}

    </table>
  </div>

  <div class="table_category">
    <table class="table table-striped" id="table_category">
      <thead class="thead-primary">
      <tr>
          <th>Номер</th>
          <th>Категория</th>
          <th>Должностей</th> 
          <th>Изменить</th>
          <th>Удалить</th>
      </tr>
    </thead>

    {% for category in tb_category %}
      <tr class="table-primary" id="tb_cat_{{category.id}}"> 
          {% csrf_token %}
          <td id='{{ category.id }}'><span>{{ category.id }}</span></td>
          <td><span>{{ category.name_category }}</span></td>
          <td>{{ category.total_vacancy }}</td>
          <td>
            <button type="button" name="btn-edit" id="edit_{{category.id}}" onclick='edit("category","tb_cat_{{category.id}}",{{category.id}})' class="btn btn-success">
            Изменить</button>
          </td>
          <td>
            <button type="button" name="btn-del" id="del_{{category.id}}" onclick="del_row({{category.id}}, 'tb_cat_', 'del_cat')" class="btn btn-danger">
            Удалить</button>
          </td> 
        </span>    
      </tr>
    {% endfor %}
    </table>
  </div>



{% endblock %}
</body>

</html>